<div
    style="background-color:#2c128a; display: flex; flex-direction: column; font-family: Arial, Helvetica, sans-serif; font-size: 16px;line-height: 1.6; color: #222; max-width: 700px;  margin: auto;">
    <div id="cabecalho" style="margin: auto; padding-top:30px"><img
            src='https://res.cloudinary.com/directmidiasoftwares/image/upload/v1580238067/GitHub/logo_fastfeet_zq0fqp.png'></img>
    </div>
    <div id=" texto" style="margin: auto; padding: 40px 40px 40px 40px; color:#7159c1;">
        {{{body}}}
    </div>
    {{>footer}}

</div>
