<div id="rodape" style="margin: auto; padding-top: 35px;">
    <div id="cabecalho"><img style="width: 60%; padding-left: 50px;"
            src='https://res.cloudinary.com/directmidiasoftwares/image/upload/v1580238067/GitHub/logo_fastfeet_zq0fqp.png'></img>
    </div>
    <div style="padding: 20px 10px 30px 50px;">
        <a href="#" style="text-decoration: none; color: #7159c1;"><span> Follow us @FastFeet!</span></a>
    </div>
</div>
