<strong>Hello, {{ courier }}</strong>
<p>Your order number: {{ order_id }}, has been canceled! More information get in touch </p>
</br>
<small>Product:</small>
<div style="background:white; border-radius: 5px; width: 70%; font-size: 16px; font-style:italic; color: darkred; margin:auto">
    {{ product }}
</div>
