<strong>Attention, </strong>
<strong> {{courier}} </strong>
<p>There is a new delivery available for you! check out the details below:</p>
</br>
<p>
    <strong>Product: </strong>{{ product }}</br>
    <strong>order: </strong> Number {{ order_id }}</br>
    </br>
    <small>The product is now available for pickup!</small>
</p>
